

.outer7 {
    display: flex;
    flex-direction: column;
    
}

.handpic7{
    width:100%;
    z-index: -1;
    margin: -10rem auto -19rem;
    filter: brightness(70%);
} 

.formdiv7{
    background: radial-gradient(rgba(255, 255, 255, 0.534),white);
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 40px;
    margin: -20rem auto;
    height: 400px;
    align-items: center
}
.formdiv7 h1{
    margin-bottom:50px;
}

.form7{
    display: flex;
    margin: auto;
    color: rgba(0, 0, 0, 0.89)
}  

.form7 input{
    width:300px;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: none
}  
.button7{
    background-image: linear-gradient(to right, #f5ba3b ,#cf1717);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% ;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border:none;
    width: 400px
}

.button7:hover {
    background-position: right center; /* change the direction of the change here */
  }

