.image-inner{
    position: fixed;
    z-index:-20;
    width:100%;
    margin-top: -20rem;
    filter: brightness(70%);
}

.details{
    background: radial-gradient(rgba(255, 255, 255, 0.534),white);
    width: 60%;
    border-radius: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 40px;
    margin: 10rem auto;
    height: 400px;
    align-items: center;
    line-height: normal;
    font-weight: bold
}

.details h1{
    margin-bottom:20px
}